<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="red.mlz.mapper.CardMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into card (cover_images,name,price,introduction,create_time,update_time) VALUES
        (#{card.coverImages},#{card.name},#{card.price},#{card.introduction},#{card.createTime},#{card.updateTime})
    </insert>

    <update id="update">
        update card
        <set>
            <if test="coverImages != null">
                cover_images=#{coverImages},
            </if>
            <if test="name != null">
                name= #{name},
            </if>
            <if test="price != null">
                price= #{price},
            </if>
            <if test="introduction != null">
                introduction= #{introduction},
            </if>
            <if test="updateTime != null">
                update_time= #{updateTime},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>