<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="red.mlz.mapper.CardMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="card.coverImages != null">cover_images,</if>
            <if test="card.name != null">name,</if>
            <if test="card.price != null">price,</if>
            <if test="card.introduction != null">introduction,</if>
            <if test="card.createTime != null">create_time,</if>
            <if test="card.updateTime != null">update_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="card.coverImages != null">#{card.coverImages},</if>
            <if test="card.name != null">#{card.name},</if>
            <if test="card.price != null">#{card.price},</if>
            <if test="card.introduction != null">#{card.introduction},</if>
            <if test="card.createTime != null">#{card.createTime},</if>
            <if test="card.updateTime != null">#{card.updateTime},</if>
        </trim>
    </insert>

    <update id="update">
        update card
        <set>
            <if test="coverImages != null">
                cover_images=#{coverImages},
            </if>
            <if test="name != null">
                name= #{name},
            </if>
            <if test="price != null">
                price= #{price},
            </if>
            <if test="introduction != null">
                introduction= #{introduction},
            </if>
            <if test="updateTime != null">
                update_time= #{updateTime},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>